.button{
    -fx-border-color: #838383;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-text-fill: #eeeeee;
    -fx-padding: 3px 13px 2px 13px;
}
.back{
    -fx-background-color: #4d4c53;
}
.check-box,.radio-button{
    -fx-text-fill: #eeeeee;
    -fx-text-alignment: left;
    -fx-min-width: 100%;
    -fx-font-size: 15px;
    -fx-indent: 10px;
}
#entities.list-view .list-cell,#cloumns.list-view .list-cell,.button{
    -fx-background-color: #4d4c53;
}

.button:hover {
    -fx-background-color: #858585;
}
