swagger: "2.0"
info:
  description: 活动
  version: "1.0.0"
  title: API-活动
host: api.tensquare.com
basePath: /gathering
paths:
  /gathering:
    post:
      summary: 增加活动
      parameters:
      - in: body
        name: body
        description: 活动实体
        required: true
        schema:
          $ref: "#/definitions/Gathering"
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/ApiResponse'
    get:
      summary: 活动全部列表
      responses:
        200:
          description: 成功
          schema: 
            $ref: '#/definitions/ApiGatheringListResponse'
  /gathering/{gatheringId}:
    get:
      summary: 根据ID查询活动
      parameters:
        - name: gatheringId
          in: path
          description: GatheringID
          required: true
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/ApiGatheringResponse'
    put:
      summary: 修改活动
      parameters:
        - name: gatheringId
          in: path
          description: 活动ID
          required: true
          type: string
        - name: body
          in: body
          description: 活动实体
          required: true
          schema:
            $ref: "#/definitions/Gathering"
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/ApiResponse'
    delete:
      summary: 根据ID删除活动
      parameters:
        - name: gatheringId
          in: path
          description: 活动ID
          required: true
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/ApiResponse'
  /gathering/search:
    post:
      summary: 根据条件查询活动列表 
      parameters:
        - name: body
          in: body
          description: 活动实体类
          required: true
          schema:
            $ref: '#/definitions/Gathering'
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/ApiGatheringListResponse'
  /gathering/search/{page}/{size}:
    post:
      summary: 活动分页
      parameters:
        - name: page
          in: path
          description: 页码
          required: true
          type: integer
          format: int32
        - name: size
          in: path
          description: 页大小
          required: true
          type: integer
          format: int32
        - name: body
          in: body
          description: 查询条件
          required: true
          schema:
            $ref: "#/definitions/Gathering"
      responses:
        200:
          description: 查询成功
          schema:
            $ref: '#/definitions/ApiGatheringPageResponse'
  /gathering/city/{city}/{page}/{size}:
    get:
      summary: 根据城市显示分页内容
      parameters:
        - name: page
          in: path
          description: 页码
          required: true
          type: integer
          format: int32
        - name: size
          in: path
          description: 页大小
          required: true
          type: integer
          format: int32
        - name: city
          in: path
          description: 城市
          required: true
          type: string
      responses:
        200:
          description: 查询成功
          schema:
            $ref: '#/definitions/ApiGatheringPageResponse'
definitions:
  Gathering:
    type: "object"
    properties:
      id:
        type: "string"        
        description: "编号"
      name:
        type: "string"        
        description: "活动名称"
      summary:
        type: "string"        
        description: "大会简介"
      detail:
        type: "string"        
        description: "详细说明"
      sponsor:
        type: "string"        
        description: "主办方"
      image:
        type: "string"        
        description: "活动图片"
      starttime:
        type: "string"
        description: "开始时间"
        format: "date"
      endtime:
        type: "string"        
        description: "截止时间"
        format: "date"
      address:
        type: "string"        
        description: "举办地点"
      enrolltime:
        type: "string"        
        description: "报名截止"
        format: "date"
      state:
        type: "string"        
        description: "是否可见"
      city:
        type: "string"        
        description: "城市"

  GatheringList:
    type: "array"
    items: 
      $ref: '#/definitions/Gathering'
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      flag:
        type: "boolean"
      message:
        type: "string"
  ApiGatheringResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      flag:
        type: "boolean"
      message:
        type: "string"
      data:
        $ref: '#/definitions/Gathering'
  ApiGatheringListResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      flag:
        type: "boolean"
      message:
        type: "string"
      data:
        $ref: '#/definitions/GatheringList'
  ApiGatheringPageResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      flag:
        type: "boolean"
      message:
        type: "string"
      data:
        properties:
          total:
            type: "integer"
            format: "int32"
          rows:
            $ref: '#/definitions/GatheringList'
